<div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#newVehicleDialog">Register new vahicle</button>
  
    <!-- Modal -->
    <div class="modal fade" id="newVehicleDialog" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New vehicle</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="usr">Vehicle number:</label>
                <input [(ngModel)]="vehiclePlateNumber" type="text" class="form-control" id="usr">
              </div>
          </div>
          <div class="modal-footer">      
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="registerNew(vehiclePlateNumber)">Register</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

        <!-- Trigger the modal with a button -->
   
        <!-- Modal -->
        <div class="modal fade " id="AllRecsFromOne" role="dialog">
          <div class="modal-dialog modal-sm fitFullDataDialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Full data: <b>{{currentVehicleView}}</b></h4>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Latitude</th>
                      <th scope="col">Longitude</th>
                      <th scope="col">Speed</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let recDetail of mDataService.allFromOneRecs | async">
                      <td>{{recDetail.latitude}}</td>
                      <td>{{recDetail.longitude}}</td>
                      <td>{{recDetail.speed}}</td>
                      <td>{{recDetail.dateAdded}}</td>
                    </tr>
                  </tbody>
                </table> 
              </div>
              <div class="modal-footer">      
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Plate number</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Speed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rec of mDataService.recs | async">
      <th scope="row">{{rec.vehiclePlateNumber}}</th>
      <td>{{rec.latestLatitude}}</td>
      <td>{{rec.latestLongitute}}</td>
      <td>{{rec.latestSpeed}}</td>
      <td class="flexColumn"><button class="btn btn-info btn-sm " data-toggle="modal" data-target="#AllRecsFromOne" (click)="viewAll(rec.id,rec.vehiclePlateNumber)">View All Information</button>
      </td>
    </tr>
  </tbody>
</table> 

